{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="{{ seo.Meta_keyword }}">
    <meta name="description" content="{{ seo.Meta_description }}">
    <title>{{ seo.Title_of_page }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    
    
    <nav>
        <navbar class="navbar-section">

            <div class="logo">
                <a href="#">
                    <img src="{% static 'icons/logo.svg' %}" alt="The One Solution logo">
                </a>
            </div>

            <li class="menu-icon">
                <img src="{% static 'icons/menu-hamburger.svg' %}" onclick="toggleFunction()" alt="menu-icon">
            </li>
            <ul class="nav-container" id="topnav">
                <li class="menu-close-icon">
                    <img src="{% static 'icons/menu-close.svg' %}" onclick="toggleFunction()" alt="menu-icon">
                </li>
                <li><a href="./index.html">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#consultancy">Consultancy</a></li>
                <li><a href="#case-studies">Case Studies</a></li>
                <li><a href="#blogs">Blogs and News</a></li>
                <li><a href="#contact">Contact Us</a></li>
            </ul>
        </navbar>
    </nav>
    <section>
        <div class="carousel">
            <div class="carousel-items">
            {% for slide in carousel  %}
              <div class="carousel-item">
                <div class="deskt">
                    <img src="{{ slide.image1x.url }}" alt="{{ slide.alttext }}">
                </div>
                <div class="caracontent">
                    <h1>{{ slide.Heading }}</h1>
                    <p>{{ slide.Paragraph | safe }}</p>
                </div>
                <div class="caraimage">
                    <img src="{{ slide.image1x.url }}" alt="{{ slide.alttext }}">
                </div>
              </div>
            {% endfor %}
            </div>
            <div class="buttons">
                <button class="prev">&#10094;</button>
                <button class="next">&#10095;</button>
            </div>
            
        </div>          
    </section>
    
    <section class="about-card-section">
        <div class="about-card container">
            <div class="about-card-content">
                <h1>
                    {{ about.Aboutpage_heading }}
                </h1>
                <p>
                    {{ about.Aboutshort }}
                </p>
                <button class="primary-btn"><a href="{% url 'about' %}">Know more</a></button>
            </div>
            <div class="about-card-image">
                    
            </div>
        </div>
    </section>
    <section class="about-section">
        <div class="about-container container">
            <h1>Consulting and Services</h1>
            <p>
                Let Your Brand work for you, build your brand invest in future of your business by investing in digital
                marketing and website. learn how to use the techniques to implement to get desired results.
            </p>
        </div>
    </section>

    <section class="services">
        <div class="tab">
            {% for service in services %}
            <button class="tablinks {% if forloop.first %}active{% endif %}" onclick="openTab(event, '{{ service.slug }}')">{{ service.Service }}</button>
            {% endfor %}
        </div>
        
        {% for service in services %}
        <div id="{{ service.slug }}" class="tabcontent" {% if forloop.first %}style="display:block"{% endif %}>
            <div class="wrapper">
                <div class="partition1">
                    <img src="{{ service.image1x.url }}" alt="{{ service.Service }}">
                </div>
                <div class="partition2">
                    <h3>{{ service.Service }}</h3>
                    <p>{{ service.service_short }}</p>
                    <div class="subserviceholder">
                        {% for subservice in service.subservice_set.all %}
                            <a href="{% url 'subservice' service_slug=subservice.service.slug subservice_slug=subservice.slug %}">{{ subservice.Service }}</a>
                        {% endfor %}
                    </div>
                    <button class="primary-btn"><a href="{% url 'service' service.slug %}">Know more</a></button>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
    <section class="about-section">
        <div class="about-container container">
            <h1>Our Library</h1>
            <p>
                Action speaks more than words, but we are marketers we have a lot to say and we have much more to show look at some of our work to understand our capability.
            </p>
        </div>
    </section>
    <section class="Library">
        <div class="librarycarddisplay">
            <div class="libtab">
                <!-- <button class="libtablinks">Creatives</button> -->
                <button class="libtablinks">Case Studies</button>
                <button class="libtablinks">Custom Web Solutions</button>
                <button class="libtablinks">Branding</button>
                <button class="libtablinks">web Design</button>
              </div>
              
              <div class="libtabcontent">
                <h3>Paris</h3>
                <p>Paris is the capital of France.</p>
              </div>
              
              <div class="libtabcontent">
                <h3>Tokyo</h3>
                <p>Tokyo is the capital of Japan.</p>
              </div>

              <div class="libtabcontent">
                <h3>India</h3>
                <p>delhi is the capital of India.</p>
              </div>
        </div>
    </section>
    <section class="about-section">
        <div class="about-container container">
            <h1>What Our Clients Say</h1>
            <p>
                Let Your Brand work for you, build your brand invest in future of your business by investing in digital
                marketing and website. learn how to use the techniques to implement to get desired results.
            </p>
        </div>
    </section>
    <footer>
        <div class="logoholder">
            <img class="footerlogo1" src="{% static 'icons/logo.svg' %}" alt="">
            <img class="footerlogo" src="{% static 'icons/big-logo-bottom.svg' %}" alt="">
        </div>
        <div class="sitelinksholder">
            <div class="navigation">
                <h4>Site Links</h4>
                <a href="">Home</a>
                <a href="">About Us</a>
                <a href="">Consultancy and Services</a>
                <a href="">Case Studies</a>
            </div>
            <div class="navigation">
                <h4>Contact Us</h4>
                
                <p>Phone No:</p>
                <a href="">+91 8792926999</a>
                <a href="">+91 8088519842</a>
                <p>Email:</p>
                <a href="">hello@theonesolution.co.in</a>
                <a href="">thanuj@theonesolution.co.in</a>
                <a href="">Nishchal@theonesolution.co.in</a>
                
            </div>
        </div>
    </footer>
    <div class="copyright">
        <p>Copyright © 2024 The One Solution. All rights reserved. Design and Developed by The One Solution</p>
    </div>
    

    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/carousel.js' %}"></script>
    <script type="application/ld+json">
        {{ seo.Schema|safe }}
    </script>
</body>

</html>